// .mainDiv::-webkit-scrollbar {
//     width: 5px;
// }

// .mainDiv::-webkit-scrollbar-thumb {
//     border-radius: 20px;
//     background-color: #979797;
// }

// .mainDiv::-webkit-scrollbar-track {
//     border-radius: 20px;
//     background-color: rgba(100, 100, 100, 0.5);
// }

// .mainDiv {

// }


@keyframes mainDiv {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.mainDiv {

    animation-name: mainDiv;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;

}