.itemDiv {
    padding: 0px 15px;
    background-color: #2e2e2e;
    border-radius: 5px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // transition: all 0.2s linear;

    .leftDiv {
        display: flex;
        align-items: center;

        .outerCircle {
            width: 18px;
            height: 18px;
            background-color: #141414;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .innerCircle {
                width: 12px;
                height: 12px;
                background-color: #0a9850;
                border-radius: 100%;
            }
        }

        h1 {
            color: #fff;
            font-size: 18px;
            margin: 0;
            margin-left: 28px;
            user-select: text;
        }
    }

    .rightDiv {
        display: flex;
        align-items: center;

        .toggle {
            width: 40px;
            height: 20px;
        }

        img {
            width: 32px;
            height: 32px;
            margin-left: 15px;
            cursor: pointer;
            // transition: all 0.2s linear;
        }

        // img:hover {
        //     transform: scale(1.03);
        // }

        img:active {
            transform: translateY(2px);
        }
    }
}

.itemDiv:hover {
    background-color: #252525;
}