.mainDiv::-webkit-scrollbar {
    width: 5px;
}

.mainDiv::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #979797;
}

.mainDiv::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: rgba(100, 100, 100, 0.5);
}

.mainDiv {
    
    padding: 35px 0px 0px 0px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-position: -190px center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 120%;

    overflow: auto;


    // .scrollDiv::-webkit-scrollbar {
    //     width: 5px;
    // }

    // .scrollDiv::-webkit-scrollbar-thumb {
    //     border-radius: 20px;
    //     background-color: #979797;
    // }

    // .scrollDiv::-webkit-scrollbar-track {
    //     border-radius: 20px;
    //     background-color: rgba(100, 100, 100, 0.5);
    // }

    .scrollDiv {

        height: 100%;
        // overflow-y: auto;

        .playServerGameDiv {

            padding: 0px 40px 0px 120px;
            height: 90.4%;
    
            display: flex;
            justify-content: space-between;
    
            .leftDiv {
    
                margin-top: 100px;
    
                h1 {
                    font-size: 62px;
                    color: #fff;
                    margin: 0;
                }
        
                h2 {
                    font-size: 62px;
                    color: #D8D8D8;
                    margin: 0;
                    margin-top: -10px;
                }
    
                .buttonDiv {
    
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    height: 80px;
    
                    .settingButton {
    
                        width: 88px;
                        height: 100%;
                        background-color: #252424;
                        border-radius: 10px;
                        padding: 15px 15px;
                        box-sizing: border-box;
                        cursor: pointer;
                        transition: all 0.2s linear;
    
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
    
                    .settingButton:hover {
                        transform: scale(1.02);
                    }
    
                    .playButton {
    
                        background-color: #0A9850;
                        border-radius: 10px;
                        width: 300px;
                        height: 100%;
                        margin-left: 10px;
                        cursor: pointer;
                        padding: 0px 35px;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        transition: all 0.2s linear;
    
                        h1 {
                            font-size: 42px;
                            color: #fff;
                            margin: 0;
                            line-height: 80px;
                        }
    
                        img {
                            width: 50px;
                            height: 50px;
                        }
    
                    }
    
                    .playButton:hover {
                        transform: scale(1.02);
                    }
                }
            }
        }

        .serverListDiv {

            height: 220px;
            background-color: #0D0D0D;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 60px;

            .leftDiv {

                h1 {
                    font-size: 60px;
                    color: #fff;
                    margin: 0;
                }

            }

            .rightDiv {

                display: flex;
                align-items: center;

                .serverDiv {

                    margin-right: 20px;
                    cursor: pointer;

                    .serverBorderDiv {

                        border: 3px solid transparent;
                        transition: all 0.1s linear;
                        border-radius: 5px;
                        padding: 4px;

                        div {
                            width: 250px;
                            height: 140px;
                            background-color: #252424;
                            border-radius: 5px;
                        }
                    }

                    h1 {
                        color: #fff;
                        font-size: 16px;
                        margin: 0px;
                        margin-top: 2px;
                        margin-left: 10px;
                    }

                }

                .serverDiv:hover > .serverBorderDiv {
                    border: 3px solid rgb(150, 150, 150);
                }
            }
        }
        
        .aboutDiv {

            background-color: #000;
            height: 500px;
            padding: 100px 60px 0px 60px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;

            .leftDiv {

                h1 {
                    margin: 0;
                    margin-bottom: 40px;
                    color: #fff;
                    font-size: 32px;
                }

                h2 {
                    margin: 0;
                    margin-left: 20px;
                    color: #D8D8D8;
                    font-size: 20px;
                }
            }

            .rightDiv {

                margin-left: 80px;

                div {

                    margin-bottom: 20px;

                    h1 {
                        margin: 0;
                        font-size: 20px;
                        color: #fff;
                    }

                    h2 {
                        margin: 0;
                        margin-top: 5px;
                        font-size: 18px;
                        color: #D8D8D8;
                    }

                    .link {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

            }
        }
    }
}