.loginLoadingDiv {

    h1 {
        color: #fff;
        font-size: 3.6vw;
        margin: 0;
        margin-bottom: 2vh;
        margin-left: 2vw;
    }

    .circlesDiv {

        display: flex;
        justify-content: center;
        align-items: center;
        
        .circle {
            margin: 0 10px;
            width: 16px;
            height: 16px;
            background: #fff;
            border-radius: 100%;
        }

    }
}