.ramDiv {

    padding: 0px 0px 25px 0px;
    border-bottom: 2px solid #3E3E3E;
    position: relative;

    .disabledDiv {

        position: absolute;
        background: rgba(30, 30, 30, 0.8);
        width: 100%;
        height: 86%;
        z-index: 1;
        top: 30px;
        border-radius: 5px;

    }

    h1 {
        color: #D8D8D8;
        font-size: 18px;
        margin: 0;
    }

    .titleDiv {

        display: flex;
        justify-content: flex-start;
        align-items: center;

        .checkbox {
            margin-right: 10px;
        }

        h1 {
            margin: 0;
            font-size: 15px;
        }

    }

    .ramContainerDiv {

        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .leftDiv {

            width: 60%;

            .ramMaxInputDiv {

                display: flex;
                align-items: center;
                margin-bottom: 10px;

                h1 {
                    color: #fff;
                    font-size: 20px;
                    margin: 0;
                    margin-right: 10px;
                }

                h2 {
                    color: #fff;
                    font-size: 20px;
                    margin: 0;
                    margin-left: 10px;
                }

                input {
                    border-radius: 5px;
                    background: #141414;
                    border: none;
                    outline: none;
                    color: #fff;
                    text-align: center;
                    width: 42px;
                    font-size: 18px;
                    padding: 5px 0px;
                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none; 
                    margin: 0;
                }
            }

            .ramMinInputDiv {

                display: flex;
                align-items: center;
                margin-top: 10px;
                margin-bottom: 10px;

                h1 {
                    color: #fff;
                    font-size: 20px;
                    margin: 0;
                    margin-right: 10px;
                }

                h2 {
                    color: #fff;
                    font-size: 20px;
                    margin: 0;
                    margin-left: 10px;
                }

                input {
                    border-radius: 5px;
                    background: #141414;
                    border: none;
                    outline: none;
                    color: #fff;
                    text-align: center;
                    width: 76px;
                    width: 42px;
                    font-size: 18px;
                    padding: 5px 0px;
                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none; 
                    margin: 0;
                }
            }

        }

        .rightDiv {

            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .ramNumberContainerDiv {

                display: flex;
                flex-direction: column;
                align-items: center;
                background:#101010;
                width: 140px;
                height: 130px;
                border-radius: 20px;
                margin-right: 20px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                h1 {
                    color: #fff;
                    font-size: 18px;
                    margin: 0;
                    margin-top: 12px;
                }

                .tr {
                    border-bottom: 2px solid #3E3E3E;
                    width: 30px;
                    margin-top: 12px;
                    margin-bottom: 5px;
                }

                .ramNumberDiv {

                    display: flex;
                    align-items: baseline;

                    h1 {
                        color: #fff;
                        font-size: 42px;
                        margin: 0px;
                    }

                    h2 {
                        color: #fff;
                        font-size: 18px;
                        margin: 0;
                        margin-left: 5px;
                    }

                }
            }
        }
    }

}