@keyframes setting {
    from {
        transform: scale(1.02);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.settingDiv {

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-start;
    // align-items: flex-start;
    position: relative;

    animation-name: setting;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;

    .leftDiv {

        height: 100%;

    }

    .rightDiv {

        padding: 40px 35px 0px 35px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

    }

    .backButtonBorderDiv {

        border: 2px solid transparent;
        transition: border 0.2s linear;
        padding: 2px;
        position: absolute;
        top: 50px;
        right: 20px;
        border-radius: 6px;
        cursor: pointer;
        z-index: 1;

        .backButton {

            width: 40px;
            height: 40px;
            background: #2E2E2E;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            cursor: pointer;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transition: all 0.2s linear;
    
        }

        .backButton:hover {
            background: #272727;
            transform: scale(1.05);
        }
    
        .backButton:active {
            background: #2c2c2c;
            transform: scale(1);
        }
    }

    .backButtonBorderDiv:hover {
        border: 2px solid rgb(150, 150, 150);
    }

    .backButtonBorderDiv:active {
        top: 52px;
    }
}