.javaPathDiv {
 
    margin-top: 20px;
    padding: 0px 0px 25px 0px;
    border-bottom: 2px solid #3E3E3E;

    h1 {
        color: #D8D8D8;
        font-size: 18px;
        margin: 0;
        margin-bottom: 5px;
    }

    .toggleBuiltInJavaDiv {

        height: 48px;
        box-sizing: border-box;
        background: #2E2E2E;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 15px 15px 15px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .leftDiv {
            h1 {
                font-size: 18px;
                color: #fff;
                margin: 0;
            }
        }

        .rightDiv {
            .toggle {
                width: 42px;
                height: 20px;
            }
        }
    }

    .inputIcon {
        border-radius: 5px;
        height: 38px;
        background: #141414;
    }

    .stateButtonDiv {

        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .leftDiv {

            display: flex;
            align-items: center;

            h1 {
                font-size: 18px;
                color: #fff;
                margin: 0;
            }

        }

        .rightDiv {

            button {

                border: none;
                cursor: pointer;
                width: 140px;
                height: 30px;
                border-radius: 5px;
                margin-left: 10px;
                background: #0A9850;
                color: #fff;
                font-size: 18px;
                transition: all 0.2s linear;

            }

            .testButton {
                background: #3183E1;
            }

            button:hover {
                background: #098648;
                transform: scale(1.03);
            }

            button:active {
                background: #0aa758;
                transform: scale(1);
            }

            .testButton:hover {
                background: #296dbb;
            }

            .testButton:active {
                background: #328bf1;
            }
        }
    }
}