.topPlayerDiv {

    // margin-top: 5vh;
    margin-top: 45px;
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .leftDiv {

        .downloadStatusDiv {

            padding: 1.2vh 1vw;
            background: #0A9850;
            border-radius: 10px;

            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 1.11vw;
                color: #fff;
                margin: 0 0.69vw;
            }

            .cloudDownloadImg {
                margin-right: 0.83vw;
                width: 2.91vw;
                height: 5.3vh;
                animation: cloudDownloadImgAnim 1.5s linear;
                animation-iteration-count: infinite;
            }

            @keyframes cloudDownloadImgAnim {
                0% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1.1);
                }
                100% {
                    transform: scale(1);
                }
            }

            .pauseImg {
                width: 2.91vw;
                height: 5.3vh;
                cursor: pointer;
            }

            .progressBarDiv {
                
                h1 {
                    font-size: 0.83vw;
                    color: #fff;
                    margin: 0;
                }

                .progressBarOutside {

                    background: rgba(45, 214, 129, 0.5);
                    width: 9.72vw;
                    height: 1.77vh;
                    border-radius: 5px;

                    .progressBarInside {

                        background: #2DD681;
                        border-radius: 5px;
                        width: 86%;
                        height: 100%;
                        animation: progressBarInsideAnim 4s linear;
                        animation-iteration-count: infinite;
                    }

                    @keyframes progressBarInsideAnim {
                        0% {
                            width: 12%;
                        }
                        20% {
                            width: 60%;
                        }
                        40% {
                            width: 100%;
                        }
                        60% {
                            width: 44%;
                        }
                        80% {
                            width: 70%;
                        }
                        100% {
                            width: 12%;
                        }
                     }
                }
            }
        }
    }

    .rightDiv {

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-right: 1.7vw;
        margin-right: 25px;

        .playerNameDiv {

            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                margin: 0;
                color: #D8D8D8;
                font-size: 1.25vw;
                cursor: pointer;
                transition: all 0.2s linear;
            }
    
            svg {
               fill: #D8D8D8;
               cursor: pointer;
               transition: all 0.2s linear;
            }
    
            h1:hover {
                color: #fff;
            }
    
            h1:hover ~ svg {
                fill: #FFFFFF;
            }
    
            svg:hover {
                fill: #FFFFFF;
            }

        }

        .playerImgDiv {

            margin-left: 0.69vw;
            background: #101010;
            // width: 5.5vw;
            // height: 9vh;
            width: 80px;
            height: 76px;
            border-radius: 30px;
            padding: 0.4vw 0.5vh;

            div {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                overflow: hidden;
                // background-image: url("https://crafatar.com/renders/body/93ea0589ec754cad8619995164382e8d?scale=3&overlay");
                background-position: top;
                background-repeat: no-repeat;
                transform: scaleX(-1);

                transition: all 0.2s linear;
            }
        }

        .playerImgDiv:hover div {
            transform: scaleX(-1.05) scaleY(1.05);
        }

        .playerMenu {

            position: absolute;
            top: 4vh;
            right: 0;
            width: 100%;
            border-radius: 5px;
            padding: 8% 10%;
            text-align: right;

            div {
                h1 {
                    font-size: 1.1vw;
                    color: #fff;
                    cursor: pointer;
                }
            }

            div div h1 {
                margin: 0;
            }

            div div div {
                padding: 5% 8%;
                // width: 100%;
            }

            div div:hover {
                border-radius: 5px;
                background: #252424;
            }

        }
    }
}