.topPlayerDiv {

    // margin-top: 5vh;
    // margin-top: 45px;
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .leftDiv {

        // margin-left: 1.7vw;
        margin-left: 25px;

        img {

            // width: 4.2vw;
            // // height: 7.6vh;
            // height: auto;
            width: 60px;
            height: 60px;
            border-radius: 10px;

        }
    }

    .rightDiv {

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-right: 1.7vw;
        margin-right: 25px;

        .playerNameDiv {

            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                margin: 0;
                color: #D8D8D8;
                font-size: 1.25vw;
                cursor: pointer;
                transition: all 0.2s linear;
            }
    
            svg {
               fill: #D8D8D8;
               cursor: pointer;
               transition: all 0.2s linear;
            }
    
            h1:hover {
                color: #fff;
            }
    
            h1:hover ~ svg {
                fill: #FFFFFF;
            }
    
            svg:hover {
                fill: #FFFFFF;
            }

        }

        .playerImgDiv {

            margin-left: 0.69vw;
            background: #101010;
            width: 65px;
            height: 60px;
            border-radius: 25px;
            padding: 0.4vw 0.5vh;

            div {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                overflow: hidden;
                background-image: url("https://crafatar.com/renders/body/93ea0589ec754cad8619995164382e8d?scale=3&overlay");
                background-position: top;
                background-repeat: no-repeat;
                transform: scaleX(-1);

                transition: all 0.2s linear;
            }
        }

        .playerImgDiv:hover div {
            transform: scaleX(-1.05) scaleY(1.05);
        }

        .playerMenu {

            position: absolute;
            top: 4vh;
            right: 0;
            // width: 80%;
            border-radius: 5px;
            text-align: right;
            padding: 5px 5px;

            div {
                h1 {
                    // font-size: 1.1vw;
                    font-size: 16px;
                    color: #fff;
                    cursor: pointer;
                    white-space:nowrap
                }
            }

            div div {
                padding: 2px 10px;
                margin-bottom: 2px;
            }

            // div div h1 {
            //     margin: 0;
            // }

            // div div div {
            //     padding: 7% 8%;
            //     width: 100%;
            // }

            div div:hover {
                border-radius: 5px;
                background: #252424;
            }

        }
    }
}