.checkboxDiv {

    height: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .container {
        height: 100%;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        user-select: none;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .text {
            font-size: 1em;
            font-weight: bold;
            color: #d8d8d8;
            margin: 0;
            // margin-left: 5px;
        }

        .checkMark {
            position: absolute;
            left: 0;
            height: 20px;
            width: 20px;
            border-radius: 5px;
            background-color: #2E2E2E;
        }

        .checkMark:after {
            content: "";
            position: absolute;
            display: none;
        }

        input:checked ~ .checkMark:after {
            display: block;
        }

        .checkMark:after {
            left: 6px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    .container:hover input ~ .checkMark {
        background-color: #474747;
    }

    .container input:checked ~ .checkMark {
        background-color: #3183E1;
    }
}
