@keyframes alertBackground {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.alertBackground {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: alertBackground;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;

    @keyframes alertConfirm {
        from {
            transform: scale(0.9);
        }
        to {
            transform: scale(1);
        }
    }

    .alertConfirmDiv {
        // width: 30%;
        background-color: #1e1e1e;
        border-radius: 10px;
        max-width: 800px;
        animation-name: alertConfirm;
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;

        .title {
            color: #fff;
            font-size: 20px;
            margin: 0;
            margin-bottom: 10px;
            padding: 20px 20px 0px 20px;
        }

        .description {
            color: #d8d8d8;
            font-size: 16px;
            margin: 0;
            margin-bottom: 20px;
            padding: 0px 20px;
        }

        .buttonDiv {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: rgba(20, 20, 20, 0.75);
            padding: 10px 20px;
            border-radius: 0px 0px 10px 10px;

            .buttonFocusCancel {
                button {
                    width: 80px;
                    height: 35px;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 16px;
                    background-color: transparent;
                }
            }

            .buttonFocusConfirm {
                button {
                    width: 80px;
                    height: 35px;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 16px;
                    background-color: #0a9850;
                }
            }
        }
    }
}
