.frameDiv {
    -webkit-app-region: drag;
    width: 100vw;
    height: 26px;

    position: absolute;
    top: 0;
    z-index: 1;
    
    display: flex;
    // justify-content: space-between;

    .textDiv {

        position: absolute;
        left: 10px;
        // transform: translateX(-2vw);

        h1 {
            margin: 0px;
            color: rgba(255, 255, 255, 0.1);
            font-size: 14px;
            letter-spacing: 5px;
            margin-top: 2px;
        }
    }
 
    .frameButtonDiv {
 
        z-index: 1;
        -webkit-app-region: no-drag;
        position: absolute;
        right: 5px;

        display: flex;
        justify-content: center;

        button {
            background: none;
            border: none;
            height: 25px;
            width: 40px;
            outline: none;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover {
            background: rgba(189, 189, 189, 0.43);
        }

        .closeButton:hover {
            background: rgba(255, 53, 53, 0.61);
        }
    }
}
