.screenshotDiv {

    width: 960px;

    .topDiv {

        .buttonFocus {
            width: 120px;
            height: 35px;
            margin-left: 10px;
        }

    }

    .listDiv {

        margin-top: 15px;
        height: 554px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;

        .notScreenshots {

            width: 100%;
            text-align: center;

            h1 {
                color: #fff;
                font-size: 40px;
                margin: 0;
                margin-top: 22%;
            }

        }

    }

    .listDiv::-webkit-scrollbar {
        width: 5px;
    }
    
    .listDiv::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #979797;
    }
    
    .listDiv::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: rgba(100, 100, 100, 0.5);
    }
}