.screenshotDiv {

    width: 960px;

    .topDiv {

        .buttonFocus {
            width: 120px;
            height: 35px;
            margin-left: 10px;
        }

    }

    .listDiv {

        margin-top: 30px;

    }
}