body {
    margin: 0;
    user-select: none;
    overflow: hidden;
    font-family: "jfOpenhuninn", --font-chinese-traditional;
    line-height: 1.41;
}

:root {
    --font-chinese-traditional: {
        Whitney,
        "Microsoft JhengHei",
        微軟正黑體,
        "Microsoft JhengHei UI",
        "Microsoft YaHei",
        微軟雅黑,
        宋体,
        SimSun,
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif
    }
}