.resourcePacksDiv {

    width: 960px;

    .topDiv {

        display: flex;
        justify-content: flex-start;
        align-items: center;

        .buttonFocus {
            width: 120px;
            height: 35px;
            margin-left: 10px;
        }

    }

    .listDiv {

        margin-top: 15px;
        height: 554px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;

    }

    .listDiv::-webkit-scrollbar {
        width: 5px;
    }
    
    .listDiv::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #979797;
    }
    
    .listDiv::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: rgba(100, 100, 100, 0.5);
    }
}