.mojangLoginDiv {

    h1 {
        text-align: center;
        margin: 0;
        color: #ffffff;
        font-size: 3.6vw;
    }

    h2 {
        text-align: center;
        margin: 0;
        color: #D8D8D8;
        font-size: 1.6vw;
        margin-bottom: 7.6vh;
    }

    .loginStateDiv {

        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.5vh;

        h1 {
            text-align: left;
            margin: 0;
            color: #D8D8D8;
            font-size: 1.6vw;
        }
    }

    .inputIcon {
        width: 41.6vw;
        height: 5.7vh;
        margin-bottom: 2.5vh;
    }

    .toggle {
        width: 4vw;
        height: 3.5vh;
    }

    // button {
    //     background: #0A9850;
    //     border: none;
    //     border-radius: 5px;
    //     color: #fff;
    //     width: 100%;
    //     height: 8.2vh;
    //     font-size: 5.3vh;
    //     cursor: pointer;

    //     position: relative;
    //     z-index: 1;
    //     overflow: hidden;

    //     transition: all 0.2s linear;
    // }

    // button:hover {
    //     background: #098648;
    // }

    // button::before {
    //     z-index: -1;
    //     content: "";
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: 1em;
    //     height: 1em;
    //     border-radius: 50%;
    //     background-color: #0aa758;
    //     transform-origin: center;
    //     transform: translate3d(-50%, -50%, 0) scale(0, 0);
    //     transition: transform 0.2s ease-in-out;
    // }

    // button:active::before {
    //     transform: translate3d(-50%, -50%, 0) scale(15, 15);
    // }

    .loginButtonDiv {
        display: flex;
        justify-content: center;
    }

    input[type="checkbox"] {

        width: 0;
        height: 0;
        visibility: hidden;

        // &:checked + .loginButton {

        //     &::after {
        //         transform: scale(4.2);
        //     }
        // }
    }

    .loginButton {

        margin-bottom: 4.7vh;

        background: #0A9850;
        border: none;
        border-radius: 5px;
        color: #fff;
        display: block;
        width: 100%;
        height: 8.2vh;
        font-size: 5.3vh;
        cursor: pointer;
        text-align: center;
        line-height: 8.2vh;

        position: relative;
        z-index: 1;
        overflow: hidden;

        transition: all 0.2s linear;

        // &::after {
        //     z-index: -1;
        //     content: "";
        //     position: absolute;
        //     width: 100%;
        //     height: 100%; 
        //     top: 0;
        //     left: 0;
        //     transform: scale(0);
        //     transition: transform 0.3s ease-in;
        //     background-color: #0aa758;
        // }
    };

    .loginButton:hover {
        background: #098648;
        transform: scale(1.03);
    }

    .loginButton:active {
        transform: scale(1);
    }

    .loginBottomDiv {
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.4vw;
            margin: 0;
            color: #D8D8D8;
            cursor: pointer;

            transition: all 0.2s linear;
        }

        h1:hover {
            color: #fff;
        }
    }
}